html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #1f1f2e;
  padding: 20px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo-container {
    margin-right: 20px;
  }

  .logo {
    max-width: 100%;
    height: auto;
  }

  .input-container {
    display: flex;
    align-items: flex-start;

    input {
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
      margin-right: 10px;
      width: 200px;
    }

    button {
      background-color: #007bff;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}

.comics-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  // gap: 20px;
  // padding: 20px;
  background-color: #1f1f2e;
  background-image: url('../assets/background-ntt-data-marvel.jpg');
  background-size: auto;
  background-position: center;
  background-repeat: repeat;

  .comic-item {
    flex: 0 0 calc(25% - 20px);
    max-width: calc(25% - 20px);
    margin-bottom: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      max-width: 100%;
      height: auto;
      border: 4px solid #ccc;
      border-radius: 5px;
    }

    p {
      margin-top: 10px;
      font-weight: bold;
      font-size: 18px;
      font-family: Arial, sans-serif;
      color: #333;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: calc(100% - 20px);
      background-color: rgba(255, 255, 255, 0.8);
      padding: 10px;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }
  }
}

.footer {
  background-color: #1f1f2e;; // Cor de fundo azul
  color: white; // Cor do texto
  padding: 20px; // Espaçamento interno
  text-align: center; // Alinhamento do texto centralizado
  
  p {
    margin: 10px 0; // Espaçamento entre os parágrafos
    font-size: 18px; // Tamanho da fonte
    font-family: Arial, sans-serif; // Fonte
  }
  
  a {
    color: white; // Cor dos links
    text-decoration: none; // Remover sublinhado dos links
    font-size: 18px; // Tamanho da fonte
    font-family: Arial, sans-serif; // Fonte
  }
  
  a:hover {
    text-decoration: underline; // Adicionar sublinhado ao passar o mouse sobre os links
  }

  .linkedin, .whatsapp {
    color: white; // Cor do texto
    text-decoration: none; // Remover sublinhado dos links
    font-weight: bold; // Fonte em negrito
    font-style: italic; // Fonte em itálico
    font-size: 20px; // Tamanho da fonte
    font-family: 'Arial', sans-serif; // Fonte
  }
}


.input-container input {
  margin-right: 10px;
}

.input-container button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.link {
  color: blue;
  text-decoration: none;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}


