html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #1f1f2e;
  padding: 20px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo-container {
    margin-right: 20px;
  }

  .logo {
    max-width: 100%;
    height: auto;
  }

  .input-container {
    display: flex;
    align-items: flex-start;

    input {
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
      margin-right: 10px;
      width: 200px;
    }

    button {
      background-color: #007bff;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}

.comics-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  background-color: #1f1f2e;
  background-image: url('../assets/background-blue-red.jpg');
  background-size: auto;
  background-position: center;
  background-repeat: repeat;

  .comic-item {
    flex: 0 0 calc(25% - 20px);
    max-width: calc(25% - 20px);
    margin-bottom: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      max-width: 100%;
      height: auto;
      border: 4px solid #ccc;
      border-radius: 5px;
    }

    p {
      margin-top: 10px;
      font-weight: bold;
      font-size: 18px;
      font-family: Arial, sans-serif;
      color: #333;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: calc(100% - 20px);
      background-color: rgba(255, 255, 255, 0.8);
      padding: 10px;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }
  }
}

.footer {
  background-color: #1f1f2e;
  color: white;
  padding: 20px;
  text-align: center;
  
  p {
    margin: 10px 0;
    font-size: 18px;
    font-family: Arial, sans-serif;
  }
  
  a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, sans-serif;
  }
  
  a:hover {
    text-decoration: underline;
  }

  .linkedin, .whatsapp {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    font-family: 'Arial', sans-serif;
  }
}

.input-container input {
  margin-right: 10px;
}

.input-container button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.link {
  color: blue;
  text-decoration: none;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #1f1f2e;
  z-index: -1;
  overflow: auto;
}

.alert {
  font-size: 28px;
  font-weight: bold;
  color: black;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  padding: 20px;
  text-align: center;
  width: 50%;
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pagination {
  position: relative;
  bottom: 20px; 
  left: 50%; 
  transform: translateX(-50%);
  z-index: 999; 
}

button {
  padding: 5px 10px;
  margin: 0 5px;
  border: none;
  background-color: #9e9b9b;
  cursor: pointer;
}

button:hover {
  text-decoration: underline;
}

.selected {
  background-color: blue;
  color: white;
  border-radius: 5px;
}


